<html>
<head>
    <title>Ripe Ncc rulez !</title>


</head>
<body>

    Hey there !
    </br>
    The information here can also be reached via the readme file.
    </br>
    -- Installation --
    </br>
    I have tested the application on Tomcat 7, but am not expecting any problems on other mainstream web/app servers.
    Need to have MySql up and running for the application to start. There is also a file called mysql.properties,
    which should be filled with respect to the local settings.
    On top of that, the 3rd party ip registry services should also be started and serving on localhost:9000, if not
    the endpoint should be specified by hand.
    </br>
    Without the sanity check, tests would fail and the application would not be built. (surefire plugin)
    </br>
    -- Test --
    </br>
    In order to test the app, here are the endpoints for RESTful communication :
    </br>
    curl localhost:8080/isp/all
    </br>Makes a list of all registered isps
    </br>
    curl localhost:8080/isp/companyName/{companyName}
    </br>Gives information regarding a specific company
    </br>
    curl -H "Content-Type: application/json" -X POST -d '{"companyName":"xyz","website":"xyz.com"}' http://localhost:8080/isp/register
    </br>Registers a company with the given company name and website
    </br>
    Cheers !

</body>
</html>